<main role="main" class="main">


    <div class="container-fluid marketing text-center  ">

        <h1 class="featurette-heading text-center">About Us</h1>

        <hr class="featurette-divider">

        <div class="text-right">
            <div class="my-3" id="google_translate_element"></div>
        </div>

        <div class="jumbotron text-center">
            <h2>Our Mission</h2>
            <p>
                To provide academic or economic disadvantaged youth a path to becoming self-confident, productive citizens through participation in music
            </p>
        </div>

        <hr class="featurette-divider">

        <!-- START THE FEATURETTES -->

        <div class="row featurette text-center">
            <div class="col-md-6 offset-3">
                <h2 class="featurette-heading">Who We Are</h2>
                <p class="lead">M-Power Youth is a free after-school music program. Our goal is to provide local youths with means
                to grow academically and professionally through music.</p>
            </div>
        </div>

        <hr class="featurette-divider">

        <div class="row featurette">
            <div class="col-md-6 offset-3">
                <h2 class="featurette-heading">Our Approach</h2> <!-- Oh yeah, its that good. -->
                <p class="lead">Modeled after the "El Sistema" program, our students grow through participation in classes taught by
                local musicians and volunteer music tutors.</p>
            </div>
        </div>

        <br><br><br>

        <!-- /END THE FEATURETTES -->

    </div><!-- /.container &ndash;&gt;-->


</main>