<div class="container-fluid">
    <div class="row">
        <div class="col-12">
            <div class="card-body">
                <div id="applications" class="table-container" style="">

                    <h1>Account Forms</h1>
                    <table class="data-table table table-striped table-bordered w-100">
                        <thead>
                        <tr>
                            <th>Name</th>
                            <th>Type</th>
                            <th>Date Submitted</th>
                            <th>Status</th>
                            <th>Tools</th>
                        </tr>
                        </thead>
                        <tbody>
                        <repeat group="{{ @applications }}" value="{{ @application }}">
                            <tr>
                                <td>{{ @application['studentName'] }}</td>
                                <td>Application</td>
                                <td>{{ @application['submissionDate'] }}</td>
                                <td>{{ Logic::translateRequestStatus(@application['decision']) }}</td>
                                <td class="btn btn-light btn-sm">
                                    <a href="#">
                                        <img src="{{ @BASE }}/assets/images/icons/file-document-box-outline.svg" alt="Review">
                                    </a>
                                </td>
                            </tr>
                        </repeat> <!-- Applications -->
                        <repeat group="{{ @volunteers }}" value="{{ @volunteer }}">
                            <tr>
                                <td>{{ @volunteer['name'] }}</td>
                                <td>Volunteer</td>
                                <td>{{ @volunteer['dateRequested'] }}</td>
                                <td>{{ Logic::translateRequestStatus(@volunteer['requestStatus']) }}</td>
                                <td class="btn btn-light btn-sm">
                                    <a href="#">
                                        <img src="{{ @BASE }}/assets/images/icons/file-document-box-outline.svg" alt="Review">
                                    </a>
                                </td>
                            </tr>
                        </repeat> <!-- Volunteer -->
                        <repeat group="{{ @rentals }}" value="{{ @rental }}">
                            <tr>
                                <td>{{ @rental['studentName'] }}</td>
                                <td>Rental</td>
                                <td>{{ @rental['dateSubmited'] }}</td>
                                <td>{{ Logic::translateRequestStatus(@rentals['requestStatus']) }}</td>
                                <td class="btn btn-light btn-sm">
                                    <a href="#">
                                        <img src="{{ @BASE }}/assets/images/icons/file-document-box-outline.svg" alt="Review">
                                    </a>
                                </td>
                            </tr>
                        </repeat> <!-- Rentals -->

                        </tbody>
                        <tfoot>
                        <tr>
                            <th>Name</th>
                            <th>Grade</th>
                            <th>Date</th>
                            <th>Status</th>
                            <th></th>
                        </tr>
                        </tfoot>
                    </table>
                </div><!-- FORMS -->
            </div>
        </div>
    </div>