<h1 class="text-center">Hello, {{@accountData['username']}}</h1>

<div class="mx-auto w-50">
    <div class="text-center">
        <form method="post">
            <button type="submit" class="btn btn-info" name="edit">Edit Profile</button><br>
        </form>
    </div>

    <form method="post">
        <div class="form-group">
            <label for="username">Username</label>
            <input type="text" class="form-control" name="username" id="username" value="{{ @accountData['username'] }}"
            <check if="{{ !@editMode }}">
                readonly
            </check>
            ><br>
            <check if="{{ @editMode }}">
            <small id="accountHelpBox" class="form-text text-muted">
                Your account must not have spaces!
            </small>
            </check>
        </div>

        <check if="{{ @editMode }}">
            <div class="form-group">
                <label for="password">Password</label>
                <input type="password" class="form-control" name="password" id="password"><br>
            </div>

            <div class="form-group">
                <label for="confirmPassword">Confirm Password</label>
                <input type="password" class="form-control" name="confirmPassword" id="confirmPassword"><br>
            </div>
        </check>

        <div class="form-group">
            <label for="email">Email</label>
            <input type="text" class="form-control" name="email" id="email" value="{{ @accountData['email'] }}"
            <check if="{{ !@editMode }}">
                readonly
            </check>
            ><br>
        </div>

        <div class="form-group">
            <label for="phone">Phone</label>
            <input type="text" class="form-control" name="phone" id="phone" value="{{ @accountData['phone'] }}"
            <check if="{{ !@editMode }}">
                readonly
            </check>
            ><br>
            <check if="{{ @editMode }}">
            <small id="phoneHelpBox" class="form-text text-muted">
                Your phone must be 10 characters long and contain no special characters.
            </small>
            </check>
        </div>

        <check if="{{ @editMode }}">
            <button type="submit" class="btn btn-success" name="save">Save</button>
        </check>
    </form>
</div>