<div class="container-fluid">
    <div class="row mt-4">
        <div class="col-12 col-sm-8 col-md-6 col-lg-4 offset-sm-2 offset-md-3 offset-lg-4">
            <h1>Administration</h1>

        </div>
        <div class="card">
            <div class="card-header text-center">
                Notifications <img src="{{ @BASE }}/assets/images/icons/bell.svg">
            </div>
            <div class="card-body p-0">
                <table class="table table-sm">
                    <thead>
                        <tr>
                            <th>Source</th>
                            <th>Date</th>
                            <th>Type</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td>Aaron Melhaff</td>
                        <td>01/23/2018</td>
                        <td>Rental</td>
                        <td class="btn btn-sm btn-info">
                            <a href="#">
                                <img src="{{ @BASE }}/assets/images/icons/file-document-box-outline.svg">
                            </a>
                        </td>
                    </tr>
                    <tr>
                        <td>Boogles</td>
                        <td>01/23/2018</td>
                        <td>New User</td>
                        <td class=""></td>
                    </tr>

                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>