<div class="container-fluid mt-4 pt-4">
    <h1>Administration</h1>
    <div class="row">
        <div class="col-12 col-md-4">
            <div class="card">
                <div class="card-header">
                    Notifications
                </div>
                <div class="card-body">
                    <table class="table table-sm">
                        <thead>
                        <tr>
                            <th class="text-center">Type</th>
                            <th class="text-center">Date</th>
                            <th class="text-center"></th>
                        </tr>
                        </thead>
                        <tbody>
                        <repeat group="{{ @notifications }}" value="{{ @notification }}">
                            <tr>
                                <td>{{ @notification['type'] }}</td>
                                <td>{{ @notification['time'] }}</td>
                                <td class="p-0">
                                    <button type="button" class="btn btn-danger btn-sm">
                                        <img class="mx-1 mt-2 mb-2" src="{{ @BASE }}/assets/images/icons/close.svg" alt="Review">
                                    </button>
                                </td>
                            </tr>
                        </repeat>
                        </tbody>
                    </table>
                </div>
            </div>
        </div> <!-- NOTIFICATIONS TABLE -->

        <div class="col-12 col-md-8">
            <div class="card">
                <div class="card-header">
                    <ul class="nav nav-pills">
                        <li class="nav-item">
                            <a class="nav-link table-selector active" data-target="rentals" href="#">Rentals</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link table-selector" data-target="applications" href="#">Applications</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link table-selector" data-target="volunteers" href="#">Volunteers</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link table-selector" data-target="releases" href="#">Photo Releases</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link table-selector" data-target="users" href="#">Users</a>
                        </li>
                    </ul>
                </div>
                <div class="card-body">
                    <div id="rentals" class="table-container active">
                        <table class="data-table table table-striped table-bordered w-100">
                            <thead>
                            <tr>
                                <th>Name</th>
                                <th>Instrument</th>
                                <th>Date</th>
                                <th>Status</th>
                                <th></th>
                            </tr>
                            </thead>
                            <tbody>
                            <repeat group="{{ @rentals }}" value="{{ @rental }}">
                                <tr>
                                    <td>{{ @rental['studentName'] }}</td>
                                    <td>{{ @rental['instrument'] }}</td>
                                    <td>{{ @rental['dateSubmited'] }}</td>
                                    <td>{{ Logic::translateRequestStatus(@rental['requestStatus']) }}</td>
                                    <td class="p-0">
                                        <a class="btn btn-warning btn-sm" href="{{ @BASE }}/forms/review/rental/{{@rental['accountId']}}/{{@rental['formId']}}">
                                            <img class="mx-1 mt-2 mb-2" src="{{ @BASE }}/assets/images/icons/file-document-box-outline.svg" alt="Review">
                                        </a>
                                    </td>
                                </tr>
                            </repeat>
                            </tbody>
                            <tfoot>
                            <tr>
                                <th>Name</th>
                                <th>Instrument</th>
                                <th>Date</th>
                                <th>Status</th>
                            </tr>
                            </tfoot>
                        </table>
                    </div><!-- RENTALS -->
                    <div id="applications" class="table-container toshow" style="display:none">
                        <table class="data-table table table-striped table-bordered w-100">
                            <thead>
                            <tr>
                                <th>Name</th>
                                <th>Grade</th>
                                <th>Date</th>
                                <th>Status</th>
                                <th></th>
                            </tr>
                            </thead>
                            <tbody>
                            <repeat group="{{ @applications }}" value="{{ @application }}">
                                <tr>
                                    <td>{{ @application['studentName'] }}</td>
                                    <td>{{ @application['grade'] }}</td>
                                    <td>{{ @application['submissionDate'] }}</td>
                                    <td>{{ Logic::translateRequestStatus(@application['requestStatus']) }}</td>
                                    <td class="p-0">
                                        <a class="btn btn-warning btn-sm" href="{{ @BASE }}/forms/review/enrollment/{{ @application['accountId'] }}/{{@application['formId']}}">
                                            <img class="mx-1 mt-2 mb-2" src="{{ @BASE }}/assets/images/icons/file-document-box-outline.svg" alt="Review">
                                        </a>
                                    </td>
                                </tr>
                            </repeat>
                            </tbody>
                            <tfoot>
                            <tr>
                                <th>Name</th>
                                <th>Grade</th>
                                <th>Date</th>
                                <th>Status</th>
                                <th></th>
                            </tr>
                            </tfoot>
                        </table>
                    </div><!-- APPLICATIONS -->

                    <div id="volunteers" class="table-container toshow" style="display:none">
                        <table class="data-table table table-striped table-bordered w-100">
                            <thead>
                            <tr>
                                <th>Name</th>
                                <th>Phone</th>
                                <th>Submitted</th>
                                <th>Status</th>
                                <th></th>
                            </tr>
                            </thead>
                            <tbody>
                            <repeat group="{{ @volunteers }}" value="{{ @volunteer }}">
                                <tr>
                                    <td>{{ @volunteer['name'] }}</td>
                                    <td>{{ @volunteer['phone'] }}</td>
                                    <td>{{ @volunteer['dateRequested'] }}</td>
                                    <td>{{ Logic::translateRequestStatus(@volunteer['requestStatus']) }}</td>
                                    <td class="p-0" >
                                        <a class="btn btn-warning btn-sm" href="{{ @BASE }}/forms/review/volunteer/{{ @volunteer['accountId'] }}/{{@volunteer['formId']}}">
                                            <img class="mx-1 mt-2 mb-2" src="{{ @BASE }}/assets/images/icons/file-document-box-outline.svg" alt="Review">
                                        </a>
                                    </td>
                                </tr>
                            </repeat>
                            </tbody>
                            <tfoot>
                            <tr>
                                <th>Name</th>
                                <th>Phone</th>
                                <th>Submitted</th>
                                <th>Status</th>
                                <th></th>
                            </tr>
                            </tfoot>
                        </table>
                    </div><!-- VOLUNTEERS -->

                    <div id="releases" class="table-container toshow" style="display:none">
                        <table class="data-table table table-striped table-bordered w-100">
                            <thead>
                            <tr>
                                <th>Child Name</th>
                                <th>Parent Name</th>
                                <th>Date</th>
                                <th>Status</th>
                            </tr>
                            </thead>
                            <tbody>
                            <repeat group="{{ @releases }}" value="{{ @release }}">
                                <tr>
                                    <td>{{ @release['childName'] }}</td>
                                    <td>{{ @release['parentName'] }}</td>
                                    <td>{{ @release['dateSigned'] }}</td>
                                    <td>Accepted</td>
                                </tr>
                            </repeat>
                            </tbody>
                            <tfoot>
                            <tr>
                                <th>Child Name</th>
                                <th>Parent Name</th>
                                <th>Date</th>
                                <th>Status</th>
                            </tr>
                            </tfoot>
                        </table>
                    </div><!-- APPLICATIONS -->

                    <div id="users" class="table-container toshow" style="display:none">
                        <table class="data-table table table-striped table-bordered w-100">
                            <thead>
                            <tr>
                                <th>Username</th>
                                <th>Email</th>
                                <th>Phone</th>
                                <th>Privilege</th>
                                <th></th>
                            </tr>
                            </thead>
                            <tbody>
                            <repeat group="{{ @accounts }}" value="{{ @account }}">
                                <tr>
                                    <td>{{ @account['username'] }}</td>
                                    <td>{{ @account['email'] }}</td>
                                    <td>{{ @account['phone'] }}</td>
                                    <td>{{ @account['privilege'] }}</td>
                                    <td></td>
                                </tr>
                            </repeat>
                            </tbody>
                            <tfoot>
                            <tr>
                                <th>Username</th>
                                <th>Email</th>
                                <th>Phone</th>
                                <th>Privilege</th>
                                <th></th>
                            </tr>
                            </tfoot>
                        </table>
                    </div><!-- USERS -->
                </div>
            </div><!-- TABLES -->
        </div> <!-- INFO TABLE AREA -->
    </div>
</div>