<!DOCTYPE html>

<html lang="en">
<head>

    <!--Image for Title -->
    <link rel="shortcut icon" href="{{@BASE}}/assets/images/icons/logo.ico" />

    <title>{{ @title }}</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="{{@BASE}}/assets/styles/_m-power-bootstrap.css">
    <link rel="stylesheet" href="{{@BASE}}/assets/styles/_base.css">
    <link rel="stylesheet" href="{{@BASE}}/assets/styles/_footer.css">
    <link href="https://fonts.googleapis.com/css?family=Acme" rel="stylesheet">



    <!-- Page Styles -->
<repeat group="{{ @styles }}" value="{{ @stylepath }}">
    <link rel="stylesheet" type="text/css" href="{{ @stylepath }}">
</repeat>

    <script type="text/javascript">
        function googleTranslateElementInit() {
            new google.translate.TranslateElement({pageLanguage: 'en', layout: google.translate.TranslateElement.InlineLayout.SIMPLE}, 'google_translate_element');
        }
    </script>


    <!--MATERIAL DESIGN ICONS LICENSE: https://github.com/Templarian/MaterialDesign/blob/master/LICENSE-->
</head>
<body>

<repeat group="{{ @includes }}" value="{{ @path }}">
<include href="{{ @path }}" >

</repeat>

<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js" integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js" integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ" crossorigin="anonymous"></script>
<script type="text/javascript" src="//translate.google.com/translate_a/element.js?cb=googleTranslateElementInit"></script>
<script src="{{@BASE}}/assets/scripts/_validator.js"></script>


<repeat group="{{ @scripts }}" value="{{ @scriptpath }}">
<script type="text/javascript" src="{{ @scriptpath }}"></script>
</repeat>

</body>
</html>
