<div class="cover-container d-flex h-100 p-3 mx-auto flex-column">
    <main role="main" class="inner cover text-center">
        <h1 class="cover-heading text-light middle">Donate!</h1>
        <p class="lead text-light">Cover is a one-page template for building simple and beautiful home pages. Download, edit the text, and add your own fullscreen background photo to make it your own.</p>
        <p class="lead">
            <a href="#" class="btn btn-lg btn-secondary">Learn more</a>
        </p>
    </main>
</div>