<div class="container">

    <div class="jumbotron">

        <div class="cover-container d-flex h-100 p-3 mx-auto flex-column backimg">
            <main role="main" class="inner cover text-center">
                <h1 class="cover-heading text-dark middle ">Donate!</h1>
                <p class="lead backcolor">All Donations are used to acquire or fix instruments and
                further better the M-Power Youth program</p>
                <a href="#" class="btn btn-lg btn-secondary">Donate Here</a>
            </main>
        </div>

    </div>

</div>