<form action="carousel-modify" method="post" enctype="multipart/form-data">
    <div class="modal-body">
        <!--<img id="image-preview" class="mb-2" src="#" alt="your image" />-->
        <div class="mb-2">
            <label for="image">Select Image</label>
            <br>
            <input type="file" id="image" name="image">
        </div>
        <div class="form-group">
            <label for="header">Header</label>
            <input type="text" class="form-control" id="header" name="header" aria-describedby="header" placeholder="header">
        </div>
        <div class="form-group">
            <label for="paragraph">Paragraph</label>
            <input type="text" class="form-control" id="paragraph" name="paragraph" aria-describedby="paragraph" placeholder="paragraph">
        </div>
        <div class="form-group">
            <label for="buttonLink">URL this button will link to</label>
            <input type="text" class="form-control" id="buttonLink" name="buttonLink" aria-describedby="buttonLink" placeholder="Button link">
        </div>
        <div class="form-group">
            <label for="buttonText">Text inside button</label>
            <input type="text" class="form-control" id="buttonText" name="buttonText" aria-describedby="buttonText" placeholder="Button text">
        </div>
        <input type="number" id="idcarousel" name="idcarousel" class="d-none">
        <input type="text" id="imageURL" name="imageURL" class="d-none">
        <input type="number" id="pageOrder" name="pageOrder" class="d-none">
    </div>
    <div class="modal-footer">
        <button type="reset" class="btn btn-danger" data-dismiss="modal">Close</button>
        <button type="submit" name="submit" class="btn btn-success">Update!</button>
    </div>
</form>