
<div class="container">

    <br>
    <h1 class="text-center">Files You can download</h1>

    <hr>
    <div class="row">
        <div class="col-6 offset-3">
            <ul class="list-group text-center">
                <a href="{{@BASE}}/assets/files/Mpower1.pdf"><li class="list-group-item">Volunteer Registration form <img src="{{@BASE}}/assets/images/icons/download.svg"></li></a>
                <a href="{{@BASE}}/assets/files/Mpower2.pdf"><li class="list-group-item">Enrollment Form <img src="{{@BASE}}/assets/images/icons/download.svg"></li></a>
                <a href="{{@BASE}}/assets/files/Mpower3.pdf"><li class="list-group-item">Minor Photo/Video release Form <img src="{{@BASE}}/assets/images/icons/download.svg"></li></a>
                <a href="{{@BASE}}/assets/files/Mpower4.pdf"><li class="list-group-item">Instrument Rental Agreement Form <img src="{{@BASE}}/assets/images/icons/download.svg"></li></a>
            </ul>
        </div>
    </div>





</div>