
<div class="container">

    <br>
    <h1 class="text-center">Files You can download</h1>

    <hr>
    <div class="row">
        <div class="col-6 offset-3">
            <ul class="list-group text-center">
                <li class="list-group-item"><a href="{{@BASE}}/assets/files/Mpower1.pdf">Volunteer Registration form <img src="{{@BASE}}/assets/images/icons/download.svg" alt="download"></a></li>
                <li class="list-group-item"><a href="{{@BASE}}/assets/files/Mpower2.pdf">Enrollment Form <img src="{{@BASE}}/assets/images/icons/download.svg" alt="download"></a></li>
                <li class="list-group-item"><a href="{{@BASE}}/assets/files/Mpower3.pdf">Minor Photo/Video release Form <img src="{{@BASE}}/assets/images/icons/download.svg" alt="download"></a></li>
                <li class="list-group-item"><a href="{{@BASE}}/assets/files/Mpower4.pdf">Instrument Rental Agreement Form <img src="{{@BASE}}/assets/images/icons/download.svg" alt="download"></a></li>
            </ul>
        </div>
    </div>





</div>