<footer>
    <!--Footer-->
    <div class="page-footer font-small bg-info pt-4" style="">

        <!--Footer Links-->
        <div class="container-fluid text-center text-md-left">
            <div class="row">

                <!--First column-->
                <div class="col-md-6">
                    <h5 class="text-uppercase">M-Power Youth</h5>
                    <p>Find us at the Kent Lutheran Church</p>
                </div>
                <!--/.First column-->

                <!--/.Second column-->
                <div class="col-md-2">
                    <check if="{{ @isAdmin }}">
                        <true>
                            <a href="{{ @BASE }}/admin/login" class="btn btn-sm btn-info">Logout</a>
                        </true>
                        <false>
                            <a href="{{ @BASE }}/admin/login" class="btn btn-sm btn-info">Login</a>
                        </false>
                    </check>

                </div>
            </div>
        </div>
        <!--/.Footer Links-->

    </div>
    <!--/.Footer-->
</footer>