<form>

    <h1>Instrument Rental Agreement Form</h1>

    <div class="form-group">
        <label for="studentName">Student's Name</label>
        <input type="text" class="form-control" name="studentName" id="studentName">
    </div>

    <div class="form-group">
        <label for="school">School</label>
        <input type="text" class="form-control" name="school" id="school">
    </div>

    <div class="form-group">
        <label for="grade">Grade</label>
        <input type="text" class="form-control" name="grade" id="grade">
    </div>

    <div class="form-group">
        <label for="instrument">Instrument</label>
        <input type="text" class="form-control" name="instrument" id="instrument">
    </div>

    <check if="{{ @isAdmin }}">
        <div class="form-group">
            <label for="serialno">Serial No.</label>
            <input type="text" class="form-control" name="serialno" id="serialno">
        </div>

        <div class="form-group">
            <label for="contract">Contract Year</label>
            <input type="number" class="form-control" min="2016" max="2099" step="1" value="2018" name="contract" id="contract">
        </div>

        <div class="form-group">
            <label for="make">Make</label>
            <input type="text" class="form-control" name="make" id="make">
        </div>

        <div class="form-group">
            <label for="model">Model</label>
            <input type="text" class="form-control" name="model" id="model">
        </div>
    </check>

    <p>I accept full responsibility for the instrument and accessories described above. I will return it for inspection
        promptly when called for, and will return it on or before the end of the contract period. I agree to maintain
        the instrument in good playing condition and to make good to the satisfaction of the school any damage (dents or
        broken parts) or loss, including that by fire or theft, excepting reasonable wear and tear. Any repair expenses
        due to misuse, negligence or carelessness are the responsibility of the renter.</p>

    <h4>Rental Fees - $25 per instrument (Due within 2 weeks of joining orchestra)</h4>
    <h5>Financial aid is available to cover the cost for using M-Power instruments if needed</h5>

    <h6>Equipment should not be loaned to any outside groups or individuals except by written authority of Music Director: Stephanie Fiskum</h6>

    <div class="form-group">
        <label for="teacher">Teacher</label>
        <input type="text" class="form-control" name="teacher" id="teacher">
    </div>

    <div class="form-group">
        <label for="address">Address</label>
        <input type="text" class="form-control" name="address" id="address">
    </div>

    <div class="form-group">
        <label for="city">City</label>
        <input type="text" class="form-control" name="city" id="city">
    </div>

    <div class="form-group">
        <label for="state">State</label>
        <input type="text" class="form-control" name="state" id="state">
    </div>

    <div class="form-group">
        <label for="zip">Zip</label>
        <input type="text" class="form-control" name="zip" id="zip">
    </div>

    <div class="form-group">
        <label for="telephone">Telephone</label>
        <input type="text" class="form-control" name="telephone" id="telephone">
    </div>

    <div class="form-group">
        <label for="studentSignature">Student Signature</label>
        <input type="text" class="form-control" name="studentSignature" id="studentSignature">
    </div>

    <div class="form-group">
        <label for="studentSignatureDate">Date</label>
        <input type="text" class="form-control" name="studentSignatureDate" id="studentSignatureDate">
    </div>

    <div class="form-group">
        <label for="parentSignature">Parent Signature</label>
        <input type="text" class="form-control" name="parentSignature" id="parentSignature">
    </div>

    <div class="form-group">
        <label for="parentSignatureDate">Date</label>
        <input type="text" class="form-control" name="parentSignatureDate" id="parentSignatureDate">
    </div>

    <button type="submit" class="btn btn-success">I Agree</button>
</form>