<form>
    <h1>Minor Photo/Video Release Form</h1>
    <p>I give M-Power Youths my permission to publish in print, electronic, or video format the image or video of
    my child, for the sole purpose of M-Power Youths</p>

    <div class="form-group">
        <label for="childName">Child's Name</label>
        <input type="text" class="form-control" name="childName" id="childName">
    </div>

    <div class="form-group">
        <label for="parentName">Parent's Name</label>
        <input type="text" class="form-control" name="parent" id="parentName">
    </div>

    <div class="form-group">
        <label for="signedName">Sign Name</label>
        <input type="text" class="form-control" name="signedName" id="signedName">
    </div>

    <div class="form-group">
        <label for="signedDate">Sign Date</label>
        <input type="date" class="form-control" name="signedDate" id="signedDate">
    </div>

    <button type="submit" class="btn btn-success">I Agree</button>
</form>
