<div class="modal fade" id="new-image-modal" tabindex="-1" role="dialog" aria-labelledby="new-image-modal" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content ">
            <div class="modal-header">
                <h5 class="modal-title" id="new-image-modal-label">New Image</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form action="#" method="post" enctype="multipart/form-data">

                    <img id="image-preview" class="mb-2" src="#" alt="your image" />
                    <div class="mb-2">
                        <label for="image">Select Image</label>
                        <br>
                        <input type="file" id="image" name="image">
                    </div>
                    <div class="form-group">
                        <label for="caption">Caption</label>
                        <input type="caption" class="form-control" name="caption" id="caption" aria-describedby="caption" placeholder="Enter Caption">
                    </div>


                    <div class="modal-footer">
                        <button type="clear" class="btn btn-secondary " data-dismiss="modal">Close</button>
                        <button type="submit" name="submit" class="btn btn-primary ">Submit</button>
                    </div>



                </form>
            </div>

        </div>
    </div>
</div>