<div class="container-fluid">
    <check if="{{ @isAdmin }}">
        <true>
            <button type="button" class="btn btn-sm btn-info mt-2">
                <img src="{{ @BASE }}/assets/images/icons/plus.svg">Add
            </button>
        </true>
    </check>
    <div class="row">

        <repeat group="{{ @images }}" value="{{ @image }}">
            <div class="col-12 col-md-6 col-lg-4 mt-2">
                <img class="gallery-thumbnail" src="{{ @BASE }}/assets/images/gallery/{{ @image['url'] }}"
                     data-caption="{{ @image['caption'] }}" data-source="{{ @image['url'] }}" alt="Gallery Image">
            </div>
        </repeat>
    </div>
</div>
<div id="overlay" data-base="{{ @BASE }}" class="toshow" style="display:none">
    <div id="overlay-frame">
        <img id="overlay-image" src="" alt="">
        <p class="text-white" id="overlay-caption"></p>
    </div>

</div>