<div class="container-fluid">
    <div class="row">
        <check if="{{ @isAdmin }}">
            <true>
                <button type="button" class="btn btn-small btn-info rounded-0">
                    <img src="{{ @BASE }}/assets/images/icons/plus.svg">Add
                </button>
            </true>
        </check>
        <repeat group="{{ @images }}" value="{{ @path }}">
            <div class="col-12 col-md-6 col-lg-4 mt-2">
                <a href="{{ @path }}">
                    <img class="gallery-thumbnail" src="{{ @path }}" alt="Gallery Image">
                </a>
            </div>
        </repeat>
    </div>
</div>