<div class="container-fluid px-0">
    <div id="demo" class="carousel slide mx-0 px-0 my-0 py-0" data-ride="carousel">

        <check if="{{ @carouselItems }}">

            <!-- The slideshow -->
            <div id="carouselExampleSlidesOnly" class="carousel slide" data-ride="carousel">
                <div class="carousel-inner">
                    <repeat group="{{ @carouselItems }}" value="{{ @carouselItem }}" counter="{{ @ctr }}">
                        <check if="{{ @ctr == 1 }}">
                            <true>
                                <div class="carousel-item active">
                            </true>
                            <false>
                                <div class="carousel-item">
                            </false>
                        </check>
                            <img class="d-block w-100" src="{{ @carouselItem->getImageURL() }}" alt="Carousel slide">
                            <div class="carousel-caption d-none d-md-block">
                                <h3>{{ @carouselItem->getHeader() }}</h3>
                                <p>{{ @carouselItem->getParagraph() }}</p>
                                <a class="btn btn-primary rounded" href="{{ @carouselItem->getButtonLink() }}">{{ @carouselItem->getButtonText() }}</a>
                            </div>
                        </div>
                    </repeat>
                </div>
            </div>

            <!-- Indicators -->
            <ul class="carousel-indicators">
                <repeat group="{{ @carouselItems }}" value="{{ @carouselItem }}" counter="{{ @ctr }}">
                    <check if="{{ @ctr == 1 }}">
                        <true>
                            <li data-target="#demo" data-slide-to="{{ @ctr - 1 }}" class="active"></li>
                        </true>
                        <false>
                            <li data-target="#demo" data-slide-to="{{ @ctr - 1 }}"></li>
                        </false>
                    </check>
                </repeat>
            </ul>

        </check>

        <!-- Left and right controls -->
        <a class="carousel-control-prev" href="#demo" data-slide="prev">
            <span class="carousel-control-prev-icon"></span>
        </a>
        <a class="carousel-control-next" href="#demo" data-slide="next">
            <span class="carousel-control-next-icon"></span>
        </a>

    </div>
</div>
<div class="container rest-body">
    <br>

    <div class="jumbotron text-center">
        <h1>Our Mission</h1>
        <p>
            To provide academic or economic disadvantaged youth a path to becoming self-confident, productive citizens through participation in music
        </p>
    </div>



</div>