<div class="container">

    <form action="#" method="post" class="form-signin bg-light" >
        <h2 class="form-signin-heading">Please sign in</h2>
        <label for="inputUsername" class="sr-only">Username</label>
        <input type="text" id="inputUsername" name="username" class="form-control" placeholder="Username" required autofocus>
        <label for="inputPassword" class="sr-only">Password</label>
        <input type="password" id="inputPassword" name="password" class="form-control" placeholder="Password" required>

        <check if="{{ @invalid }}">
            <true>
                <div class="alert alert-danger">Invalid username or password!</div>
            </true>
        </check>

        <button class="btn btn-lg btn-primary btn-block " name="submit" type="submit">Sign in</button>
        <a href="{{ @BASE }}/accounts/register" class="btn btn-lg btn-primary btn-sm btn-block ">
            Create Account
        </a>


    </form>

</div> <!-- /container -->