<nav class="navbar navbar-expand-lg navbar-dark bg-info">
    <a class="navbar-brand" href="{{ @BASE }}">
        <img src="./assets/images/MPYLogo/svg/color_logo_transparent.svg" width="40" height="40" class="d-inline-block align-top" alt="">
        Mpower-youths
    </a>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav ml-auto">
            <li class="nav-item">
                <a class="nav-link" href="gallery">Gallery</a>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Members
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" href="#">Rent a Instrument</a>
                    <a class="dropdown-item" href="#">Profile Settings</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="#">Admin</a>
                </div>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Donate</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Contact Us</a>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown2" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    About
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" href="#">Us</a>
                    <a class="dropdown-item" href="staff">Staff</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="#">Boards</a>
                </div>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Register/Login</a>
            </li>
        </ul>
    </div>
</nav>