<div class="container">
    <div class="row mt-4">
        <div class="col-6 offset-3">
            <form action="#" method="post">
                <div class="card mb-3 ">
                    <div class="card-body">
                        <h4 class="card-title">Create Account</h4>
                        <hr>
                        <div class="form-group">
                            <div class="form-group">
                                <label for="username">Username:</label>
                                <input type="username" class="form-control " id="username" name="username"
                                       value="{{ $_POST['username'] }}" maxlength="45" required>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="form-group">
                                <label for="password1">Password:</label>
                                <input type="password" class="form-control " id="password1" name="password1" required>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="form-group">
                                <label for="password2">Repeat Password:</label>
                                <input type="password" class="form-control " id="password2" name="password2" required>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="form-group">
                                <label for="email">Email address:</label>
                                <input type="email" class="form-control " id="email" name="email" placeholder="name@example.com"
                                       value="{{ $_POST['email'] }}" maxlength="60" required>
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="form-group">
                                <label for="phone">Phone:</label>
                                <input type="text" class="form-control " id="phone" name="phone" value="{{ $_POST['phone'] }}"
                                       pattern="[0-9]{10}" title="Must be at least 7 numbers." required>
                            </div>
                        </div>

                        <check if="{{ count(@result) > 0 }}">
                            <true>
                                <div class="alert alert-danger alert-dismissible fade show" role="alert">
                                    <ul>
                                        <repeat group="{{ @result }}" value="{{ @value }}">
                                            <li>{{ @value }}</li>
                                        </repeat>
                                    </ul>
                                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>

                            </true>
                        </check>

                        <button type="submit" name="submit" class="btn btn-primary btn-block  mt-4">Register</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>