<main role="main">

    <section class="jumbotron text-center">
        <div class="container">
            <h1 class="jumbotron-heading">Instruments Available</h1>
            <p class="lead text-muted">Our Selections of Instruments are both Strings and Brass. Find what suits your tastes!</p>
        </div>
    </section>

    <div class="album py-5 bg-light">
        <div class="container">
            <div class="row">

                <div class="col-md-4">
                    <div class="card mb-4 box-shadow">
                        <img class="card-img-top" src="http://images.clipartpanda.com/trumpet-clip-art-trumpet.gif" alt="Trumpet">
                        <div class="card-body">
                            <h4 class="card-text">Trumpet</h4>
                            <p>A trumpet is a brass instrument</p>
                            <div class="progress">
                                <div class="progress-bar bg-success" style="width:30%">Easy</div>
                            </div>
                            <div class="d-flex justify-content-between align-items-center mt-2">
                                <div class="btn-group">
                                    <button type="button" class="btn btn-sm btn-outline-secondary">Rent</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-md-4">
                    <div class="card mb-4 box-shadow">
                        <img class="card-img-top" src=" https://i.pinimg.com/originals/4a/5f/b3/4a5fb3acef05e83cf9b35eebac8699f9.gif" alt="Clarinet">
                        <div class="card-body">

                            <h4 class="card-text">Clarinet</h4>
                            <p>A trumpet is a brass instrument</p>
                            <div class="progress">
                                <div class="progress-bar bg-success" style="width:30%">Easy</div>
                            </div>
                            <div class="d-flex justify-content-between align-items-center mt-2">
                                <div class="btn-group">
                                    <button type="button" class="btn btn-sm btn-outline-secondary">Rent</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-md-4">
                    <div class="card mb-4 box-shadow">
                        <img class="card-img-top" src="https://openclipart.org/download/271170/1484832528.svg" alt="Violin">
                        <div class="card-body">
                            <h4 class="card-text">Violin</h4>
                            <p>A trumpet is a String Instrument</p>
                            <div class="progress">
                                <div class="progress-bar bg-success" style="width:20%">Easiest</div>
                            </div>
                            <div class="d-flex justify-content-between align-items-center mt-2">
                                <div class="btn-group">
                                    <button type="button" class="btn btn-sm btn-outline-secondary">Rent</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-md-4">
                    <div class="card mb-4 box-shadow">
                        <img class="card-img-top" src="http://mereworth.kent.sch.uk/wp-content/uploads/2016/10/violin-clipart-31-628x368.png" alt="Cello">
                        <div class="card-body">
                            <h4 class="card-text">Cello</h4>
                            <p>A Cello is a String instrument</p>
                            <div class="progress">
                                <div class="progress-bar bg-success" style="width:20%">Easiest</div>
                            </div>
                            <div class="d-flex justify-content-between align-items-center mt-2">
                                <div class="btn-group">
                                    <button type="button" class="btn btn-sm btn-outline-secondary">Rent</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-md-4">
                    <div class="card mb-4 box-shadow">
                        <img class="card-img-top" src="http://images.clipartpanda.com/viola-clipart-violin_1_coloring_book_colouring-3333px.png" alt="Viola">
                        <div class="card-body">
                            <h4 class="card-text">Viola</h4>
                            <p>A Viola is a String instrument</p>
                            <div class="progress">
                                <div class="progress-bar bg-success" style="width:20%">Easiest</div>
                            </div>
                            <div class="d-flex justify-content-between align-items-center mt-2">
                                <div class="btn-group">
                                    <button type="button" class="btn btn-sm btn-outline-secondary">Rent</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-md-4">
                    <div class="card mb-4 box-shadow">
                        <img class="card-img-top" src="https://img.etsystatic.com/il/eaebc3/921494898/il_570xN.921494898_14uf.jpg?version=0" alt="Trombone">
                        <div class="card-body">
                            <h4 class="card-text">Trombone</h4>
                            <p>A Trombone is a brass instrument</p>
                            <div class="progress">
                                <div class="progress-bar bg-success" style="width:30%">Easy</div>
                            </div>
                            <div class="d-flex justify-content-between align-items-center mt-2">
                                <div class="btn-group">
                                    <button type="button" class="btn btn-sm btn-outline-secondary">Rent</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-md-4">
                    <div class="card mb-4 box-shadow">
                        <img class="card-img-top" src="http://www.clker.com/cliparts/Y/2/r/m/8/O/flute-hi.png" alt="flute">
                        <div class="card-body">
                            <h4 class="card-text">Flute</h4>
                            <p>A flute is a wind instrument.</p>
                            <div class="progress">
                                <div class="progress-bar bg-success" style="width:20%">Easiest</div>
                            </div>
                            <div class="d-flex justify-content-between align-items-center mt-2">
                                <div class="btn-group">
                                    <button type="button" class="btn btn-sm btn-outline-secondary">Rent</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-md-4">
                    <div class="card mb-4 box-shadow">
                        <img class="card-img-top" src="http://images.clipartpanda.com/drum-clip-art-drum_2_line_art.png" alt="Drums">
                        <div class="card-body">
                            <h4 class="card-text">Drums</h4>
                            <p>A trumpet is a Percussion instrument</p>
                            <div class="progress">
                                <div class="progress-bar bg-warning" style="width:40%">Medium</div>
                            </div>
                            <div class="d-flex justify-content-between align-items-center mt-2">
                                <div class="btn-group">
                                    <button type="button" class="btn btn-sm btn-outline-secondary">Rent</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-md-4">
                    <div class="card mb-4 box-shadow">
                        <img class="card-img-top" src="https://openclipart.org/image/2400px/svg_to_png/216551/saxophone.png" alt="Alto Sax">
                        <div class="card-body">
                            <h4 class="card-text">Alto Sax</h4>
                            <p>The Alto Saxophone is a Wind Instrument</p>
                            <div class="progress">
                                <div class="progress-bar bg-danger" style="width:70%">Difficult</div>
                            </div>
                            <div class="d-flex justify-content-between align-items-center mt-2">
                                <div class="btn-group">
                                    <button type="button" class="btn btn-sm btn-outline-secondary">Rent</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>

</main>