<div class="container">
    <div class="container-page">

        <div class="col-md-6">
            <h2>Rental Agreement</h2>
            <h4>{{@result}}</h4>

            <repeat group="{{ @errors }}" value="{{ @error }}">
                <h5 class="text-danger">{{ @error }}</h5>
            </repeat>

        </div>

            <hr>

            <form class="pb-4" method="post">

                <div class="form-group col-lg-6"> <!-- Student Full Name -->
                    <label for="Student_full_name_id" class="control-label">Student Full Name</label>
                    <input required type="text" class="form-control" id="Student_full_name_id" name="student_name" placeholder="John Deer jr." value="{{@student}}">
                </div>

                <div class="form-group col-lg-6"> <!-- Guard Full Name -->
                    <label for="Guard_full_name_id" class="control-label">Parent/Guardian Full Name</label>
                    <input required type="text" class="form-control" id="Guard_full_name_id" name="guard_name" placeholder="John Deer" value="{{@guardian}}">
                </div>

                <div class="form-group col-lg-6"> <!-- Street 1 -->
                    <label for="street1_id" class="control-label">Street Address 1</label>
                    <input required type="text" class="form-control" id="street1_id" name="street1" placeholder="Street address, P.O. box, company name, c/o" value="{{@add1}}">
                </div>

                <div class="form-group col-lg-6"> <!-- Street 2 -->
                    <label for="street2_id" class="control-label">Street Address 2</label>
                    <input required type="text" class="form-control" id="street2_id" name="street2" placeholder="Apartment, suite, unit, building, floor, etc." value="{{@add2}}">
                </div>

                <div class="form-group col-lg-6"> <!-- City-->
                    <label for="city_id" class="control-label">City</label>
                    <input required type="text" class="form-control" id="city_id" name="city" placeholder="Kent" value="{{@city}}">
                </div>

                <div class="form-group col-lg-6"> <!-- Zip Code-->
                    <label for="zip_id" class="control-label">Zip Code</label>
                    <input required type="text" class="form-control" id="zip_id" name="zip" placeholder="98042" value="{{@zip}}">
                </div>

                <div class="form-group col-lg-6"> <!-- Telephone -->
                    <label for="phone" class="control-label">Telephone</label>
                    <input required type="text" class="form-control" id="phone" name="phone" value="{{@phone}}">
                </div>

                <div class="form-group col-lg-6"> <!-- school -->
                    <label for="school" class="control-label">School</label>
                    <input required type="text" class="form-control" id="school" name="school" value="{{@school}}">
                </div>

                <div class="form-group col-lg-6"> <!-- Grade -->
                    <label for="grade" class="control-label">Grade</label>
                    <input required type="text" class="form-control" id="grade" name="grade" value="{{@grade}}">
                </div>

                <div class="form-group col-lg-6"> <!-- Instrument Selector //TODO make dropdown and then select-->
                    <label for="instrument" class="control-label">Instrument</label>
                    <input required type="text" class="form-control" id="instrument" name="instrument" value="{{@instrument}}">
                </div>



                <!-- TODO Rest of form is only seen for admin -->

                <check if="{{ @isAdmin }}">
                    <true>
                        <div class="form-group col-lg-6"> <!-- Serial No. of Instrument -->
                            <label for="serial" class="control-label">Serial Num.</label>
                            <input type="text" class="form-control" id="serial" name="serial">
                        </div>

                        <div class="form-group col-lg-6"> <!-- Contract Year of Rental -->
                            <label for="contract" class="control-label">Contract Year</label>
                            <input type="text" class="form-control" id="contract" name="school">
                        </div>

                        <div class="form-group col-lg-6"> <!-- Maker of Instrument -->
                            <label for="make" class="control-label">Make</label>
                            <input type="text" class="form-control" id="make" name="grade">
                        </div>

                        <div class="form-group col-lg-6"> <!-- Model of Instrument -->
                            <label for="model" class="control-label">Model</label>
                            <input type="text" class="form-control" id="model" name="grade">
                        </div>
                    </true>
                </check>

                <div class="form-group col-lg-6" > <!-- Request Button -->
                    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">Request</button>
                </div>

                <!-- Modal -->
                <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="exampleModalLabel">Rental Agreement</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body">

                                I accept full responsibility for the instrument and accessories described above. I will
                                return it for inspection promptly when called for, and will return it on or before the
                                end of the contract period. I agree to maintain the instrument in good playing condition
                                and to make good to the satisfaction of the school any damage (dents or broken parts) or
                                loss, including that by fire or theft, excepting reasonable wear and tear. Any repair
                                expenses due to misuse, negligence or carelessness are the responsibility of the renter.
                                <br><br>
                                Rental Fees - $25 per instrument (Due within 2 weeks of joining orchestra)
                                <br><br>
                                Financial aid is available to cover the cost for using M-Power instruments if needed
                                <br><br>
                                Equipment should not be loaned to any outside groups or individuals except by written authority of Music Director: Stephanie Fiskum
                                <br><br>
                                Date of request will be automatically recorded

                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Go Back</button>
                                <button type="submit" class="btn btn-success" name="submit" value="yes">I Agree</button>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
    </div>

</div>