<form method="post">
        <h1 class="text-center">Enrollment Form</h1>
        <br>

        <h3 class="text-center">Student Information</h3>

        <div class="container w-75">
            <div class="form-row">
                <div class="form-group col-md-12">
                    <label>Student's Name</label>
                    <p></p>
                </div>
            </div>

            <div class="form-row">
                <div class="form-group col-md-9">
                    <label>School</label>
                    <p> </p>
                </div>

                <div class="form-group col-md-3">
                    <label>Grade</label>
                    <p> </p>
                </div>
            </div>

            <div class="form-row">
                <div class="form-group col-md-12">
                    <label>Desired Instrument</label>
                    <p> </p>
                </div>
            </div>

            <h6>Terms and conditions</h6>
            <ul>
                <li>I will treat all students, teachers, and adults with the utmost respect at all times.</li>
                <li>I will do my best to help and encourage other students to play their best in band.</li>
            </ul>

            <div class="form-row">
                <div class="form-group col-md-9">
                    <label>Student Sign Name</label>
                    <p> </p>
                </div>

                <div class="form-group col-md-3">
                    <label>Date</label>
                    <p> </p>
                </div>
            </div>

            <h3 class="text-center">Parental Information</h3>

            <div class="form-row">
                <div class="form-group col-md-12">
                    <label>Parent/Guardian Names</label>
                    <p> </p>
                </div>
            </div>

            <div class="form-row">
                <div class="form-group col-md-8">
                    <label>Email</label>
                    <p> </p>
                </div>

                <div class="form-group col-md-4"> <!-- Telephone -->
                    <label class="control-label">Telephone</label>
                    <p> </p>
                </div>
            </div>

            <div class="form-row">
                <div class="form-group col-md-12"> <!-- Street 1 -->
                    <label for="street1_id" class="control-label">Street Address 1</label>
                    <input type="text" class="form-control" id="street1_id" name="street1" required>
                </div>
            </div>

            <div class="form-row">
                <div class="form-group col-md-12"> <!-- Street 2 -->
                    <label class="control-label">Street Address 2</label>
                    <p> </p>
                </div>
            </div>

            <div class="form-row">
                <div class="form-group col-md-4"> <!-- City-->
                    <label  class="control-label">City</label>
                    <p> </p>
                </div>

                <div class="form-group col-md-4"> <!-- State Button -->
                    <label  class="control-label">State</label>
                    <p></p>
                </div>

                <div class="form-group col-md-4"> <!-- Zip Code-->
                    <label  class="control-label">Zip Code</label>
                    <p> </p>
                </div>
            </div>

            <div class="form-row">
                <div class="form-group col-md-12">
                    <label>Allergy List</label>
                    <p> </p>
                </div>
            </div>

            <p class="col-form-label">How did you hear about this program?</p>
            <div class="form-check">
                <p> </p>
                <label class="form-check-label" >Family/Friend</label>
            </div>
            <div class="form-check">
                <p> </p>
                <label class="form-check-label" >Other</label>
            </div>

            <p class="col-form-label">Why do you want your student in M-Power?</p>
            <div class="form-check">
                <p> </p>
                <label class="form-check-label" >Music not available at school</label>
            </div>
            <div class="form-check">
                <p> </p>
                <label class="form-check-label" >Youth music</label>
            </div>
            <div class="form-check">
                <p> </p>
                <label class="form-check-label" >Other</label>
            </div>

            <p class="col-form-label">As a parent do you wish for your child to be assigned an instrument to play and take home to practice.</p>
            <div class="form-check">
                <p> </p>
                <label class="form-check-label" >Yes</label>
            </div>
            <div class="form-check">
                <p> </p>
                <label class="form-check-label" >No</label>
            </div>

            <div class="form-row">
                <div class="form-group col-md-9">
                    <label >Parent Sign Name</label>
                    <p> </p>
                </div>

                <div class="form-group col-md-3">
                    <label >Date</label>
                    <p> </p>
                </div>
            </div>
        </div>

    <div class="text-center">
        <button type="submit" name="submit" class="btn btn-success w-25">Send</button>
    </div>
</form>