<form method="post">
        <h1 class="text-center">Enrollment Form</h1>
        <br>

        <h3 class="text-center">Student Information</h3>

        <div class="container w-75">
            <div class="form-row">
                <div class="form-group col-md-12">
                    <label>Student's Name</label>
                    <p>{{ @formData['studentName'] }}</p>
                </div>
            </div>

            <div class="form-row">
                <div class="form-group col-md-9">
                    <label>School</label>
                    <p> {{ @formData['school'] }} </p>
                </div>

                <div class="form-group col-md-3">
                    <label>Grade</label>
                    <p> {{ @formData['grade'] }} </p>
                </div>
            </div>

            <div class="form-row">
                <div class="form-group col-md-12">
                    <label>Desired Instrument</label>
                    <p> {{ @formData['instrument'] }} </p>
                </div>
            </div>

            <h6>Terms and conditions</h6>
            <ul>
                <li>I will treat all students, teachers, and adults with the utmost respect at all times.</li>
                <li>I will do my best to help and encourage other students to play their best in band.</li>
            </ul>

            <div class="form-row">
                <div class="form-group col-md-9">
                    <label>Student Sign Name</label>
                    <p>{{ @formData['studentName'] }}</p>
                </div>

                <div class="form-group col-md-3">
                    <label>Date</label>
                    <p>{{ @formData['submissionDate'] }}</p>
                </div>
            </div>

            <h3 class="text-center">Parental Information</h3>

            <div class="form-row">
                <div class="form-group col-md-12">
                    <label>Parent/Guardian Names</label>
                    <p> {{ @formData['parent'] }}</p>
                </div>
            </div>

            <div class="form-row">
                <div class="form-group col-md-8">
                    <label>Email</label>
                    <p> {{ @formData['email'] }} </p>
                </div>

                <div class="form-group col-md-4"> <!-- Telephone -->
                    <label class="control-label">Telephone</label>
                    <p> {{ @formData['phone'] }} </p>
                </div>
            </div>

            <div class="form-row">
                <div class="form-group col-md-12"> <!-- Street 1 -->
                    <label class="control-label">Street Address 1</label>
                    <p> {{ @formData['street1'] }} </p>
                </div>
            </div>

            <div class="form-row">
                <div class="form-group col-md-12"> <!-- Street 2 -->
                    <label class="control-label">Street Address 2</label>
                    <p>{{ @formData['street2'] }}</p>
                </div>
            </div>

            <div class="form-row">
                <div class="form-group col-md-4"> <!-- City-->
                    <label  class="control-label">City</label>
                    <p> {{ @formData['city'] }} </p>
                </div>

                <div class="form-group col-md-4"> <!-- State Button -->
                    <label  class="control-label">State</label>
                    <p>Washington</p>
                </div>

                <div class="form-group col-md-4"> <!-- Zip Code-->
                    <label  class="control-label">Zip Code</label>
                    <p> {{ @formData['zip'] }} </p>
                </div>
            </div>

            <div class="form-row">
                <div class="form-group col-md-12">
                    <label>Allergy List</label>
                    <p> {{ @formData['allergies'] }}</p>
                </div>
            </div>

            <p class="col-form-label">As a parent do you wish for your child to be assigned an instrument to play and take home to practice.</p>
            <check if="{{ @formData['takeHomeInstrument'] == 1}}">
                <true><p>Yes</p></true>
                <false><p>No</p></false>
            </check>

            <div class="form-row">
                <div class="form-group col-md-9">
                    <label >Parent Sign Name</label>
                    <p>{{ @formData['guardianName'] }}</p>
                </div>

                <div class="form-group col-md-3">
                    <label>Date</label>
                    <p>{{ @formData['submissionDate'] }}</p>
                </div>
            </div>
        </div>

    <div class="text-center">
        <button type="submit" name="submit" class="btn btn-success w-25">Send</button>
    </div>
</form>