<div class="container">
    <div class="container-page">

        <h2>Instrument Rental Review</h2>

        <h2 class="text-center">Form Status</h2>
        <p>
            <strong>
                <check if="{{@formData['requestStatus']}} == 0">
                    <true>Pending</true>
                </check>
                <check if="{{@formData['requestStatus']}} == -1">
                    <true>Denied</true>
                </check>

                <check if="{{@formData['requestStatus']}} == 1">
                    <true>Accepted</true>
                </check>
            </strong>
        </p>

        <hr>

        <form class="pb-4" method="post" novalidate>

            <div class="form-group col-lg-6"> <!-- Student Full Name -->
                <label class="control-label"><strong>Student Full Name</strong></label>

                <p>{{ @formData['studentName'] }}</p>

            </div>

            <div class="form-group col-lg-6"> <!-- Guard Full Name -->
                <label class="control-label"><strong>Parent/Guardian Full Name</strong></label>

                <p>{{ @formData['guardianName'] }}</p>

            </div>

            <div class="form-group col-lg-6"> <!-- Street 1 -->
                <label class="control-label"><strong>Street Address 1</strong></label>

                <p>{{ @formData['address1'] }}</p>

            </div>

            <div class="form-group col-lg-6"> <!-- Street 2 -->
                <label class="control-label"><strong>Street Address 2</strong></label>

                <p>{{ @formData['address2'] }}</p>
            </div>

            <div class="form-group col-lg-6"> <!-- City-->
                <label class="control-label"><strong>City</strong></label>

                <p>{{ @formData['city'] }}</p>

            </div>

            <div class="form-group col-lg-6"> <!-- Zip Code-->
                <label class="control-label"><strong>Zip Code</strong></label>

                <p>{{ @formData['zip'] }}</p>

            </div>

            <div class="form-group col-lg-6"> <!-- Telephone -->
                <label class="control-label"><strong>Telephone</strong></label>
                <p>{{ @formData['phone'] }}</p>
            </div>

            <div class="form-group col-lg-6"> <!-- school -->
                <label class="control-label"><strong>School</strong></label>
                <p>{{ @formData['school'] }}</p>
            </div>

            <div class="form-group col-lg-6"> <!-- Grade -->
                <label class="control-label"><strong>Grade</strong></label>
                <p>{{ @formData['grade'] }}</p>
            </div>

            <div class="form-group col-lg-6"> <!-- Instrument Selector -->
                <label class="control-label"><strong>Instrument</strong></label>
                <p>{{ @formData['instrument'] }}</p>
            </div>


            <check if="{{@formData['requestStatus']}} != 0">
                <true>
                    <fieldset disabled>
                        <div class="form-group col-lg-6"> <!-- Serial No. of Instrument -->
                            <label for="serial" class="control-label"><strong>Serial Num.</strong></label>
                            <input type="text" class="form-control serial-validate" id="serial" name="serial" value="{{@formData['serialNum']}}">
                        </div>

                        <div class="form-group col-lg-6"> <!-- Contract Year of Rental -->
                            <label for="contract" class="control-label"><strong>Contract Year</strong></label>
                            <input type="text" class="form-control year-validate" id="contract" name="contract" value="{{@formData['contractYear']}}">
                        </div>

                        <div class="form-group col-lg-6"> <!-- Maker of Instrument -->
                            <label for="make" class="control-label"><strong>Make</strong></label>
                            <input type="text" class="form-control make-validate" id="make" name="make" value="{{@formData['make']}}">
                        </div>

                        <div class="form-group col-lg-6"> <!-- Model of Instrument -->
                            <label for="model" class="control-label"><strong>Model</strong></label>
                            <input type="text" class="form-control model-validate" id="model" name="model" value="{{@formData['model']}}">
                        </div>
                    </fieldset>
                </true>
            </check>

            <!-- TODO Rest of form is only seen for admin -->

            <!-- Check if the request is approved or denied -->
            <check if="{{ @isAdmin }}" >
                <true>

                    <check if="{{@formData['requestStatus']}} != 0">
                        <false>
                            <div class="form-group col-lg-6"> <!-- Serial No. of Instrument -->
                                <label for="serial" class="control-label"><strong>Serial Num.</strong></label>
                                <input type="text" class="form-control serial-validate" id="serial" name="serial" value="{{@formData['serial']}}">
                            </div>

                            <div class="form-group col-lg-6"> <!-- Contract Year of Rental -->
                                <label for="contract" class="control-label"><strong>Contract Year</strong></label>
                                <input type="text" class="form-control year-validate" id="contract" name="contract" value="{{@formData['contract']}}">
                            </div>

                            <div class="form-group col-lg-6"> <!-- Maker of Instrument -->
                                <label for="make" class="control-label"><strong>Make</strong></label>
                                <input type="text" class="form-control make-validate" id="make" name="make" value="{{@formData['make']}}">
                            </div>

                            <div class="form-group col-lg-6"> <!-- Model of Instrument -->
                                <label for="model" class="control-label"><strong>Model</strong></label>
                                <input type="text" class="form-control model-validate" id="model" name="model" value="{{@formData['model']}}">
                            </div>
                        </false>

                    </check>
                </true>
            </check>

            <a class="btn btn-primary" href=' <check if="{{ @isAdmin }}"><true> {{@BASE}}/administration</true><false>{{@BASE}}/account</false></check>'>Go Back</a>

        </form>
    </div>

</div>