<form method="post">
        <h1 class="text-center">Enrollment Form</h1>
        <br>

        <h2 class="text-center">Form Status</h2>
        <p>
            <strong>
                <check if="{{@formData['requestStatus']}} == 0">
                    <true>Pending</true>
                </check>
                <check if="{{@formData['requestStatus']}} == -1">
                    <true>Denied</true>
                </check>

                <check if="{{@formData['requestStatus']}} == 1">
                    <true>Accepted</true>
                </check>
            </strong>
        </p>

        <h3 class="text-center">Student Information</h3>

        <hr>

        <div class="container w-75">
            <div class="form-row">
                <div class="form-group col-md-12">
                    <label><strong>Student's Name</strong></label>
                    <p>{{ @formData['studentName'] }}</p>
                </div>
            </div>

            <div class="form-row">
                <div class="form-group col-md-9">
                    <label><strong>School</strong></label>
                    <p> {{ @formData['school'] }} </p>
                </div>

                <div class="form-group col-md-3">
                    <label><strong>Grade</strong></label>
                    <p> {{ @formData['grade'] }} </p>
                </div>
            </div>

            <div class="form-row">
                <div class="form-group col-md-12">
                    <label><strong>Desired Instrument</strong></label>
                    <p> {{ @formData['instrument'] }} </p>
                </div>
            </div>

            <div class="form-row">
                <div class="form-group col-md-9">
                    <label><strong>Student Sign Name</strong></label>
                    <p>{{ @formData['studentName'] }}</p>
                </div>

                <div class="form-group col-md-3">
                    <label><strong>Date</strong></label>
                    <p>{{ @formData['submissionDate'] }}</p>
                </div>
            </div>

            <h3 class="text-center">Parental Information</h3>

            <hr>

            <div class="form-row">
                <div class="form-group col-md-12">
                    <label><strong>Parent/Guardian Names</strong></label>
                    <p> {{ @formData['parent'] }}</p>
                </div>
            </div>

            <div class="form-row">
                <div class="form-group col-md-8">
                    <label><strong>Email</strong></label>
                    <p> {{ @formData['email'] }} </p>
                </div>

                <div class="form-group col-md-4"> <!-- Telephone -->
                    <label class="control-label"><strong>Telephone</strong></label>
                    <p> {{ @formData['phone'] }} </p>
                </div>
            </div>

            <div class="form-row">
                <div class="form-group col-md-12"> <!-- Street 1 -->
                    <label class="control-label"><strong>Street Address 1</strong></label>
                    <p> {{ @formData['street1'] }} </p>
                </div>
            </div>

            <div class="form-row">
                <div class="form-group col-md-12"> <!-- Street 2 -->
                    <label class="control-label"><strong>Street Address 2</strong></label>
                    <p>{{ @formData['street2'] }}</p>
                </div>
            </div>

            <div class="form-row">
                <div class="form-group col-md-4"> <!-- City-->
                    <label  class="control-label"><strong>City</strong></label>
                    <p> {{ @formData['city'] }} </p>
                </div>

                <div class="form-group col-md-4"> <!-- State Button -->
                    <label  class="control-label"><strong>State</strong></label>
                    <p>Washington</p>
                </div>

                <div class="form-group col-md-4"> <!-- Zip Code-->
                    <label  class="control-label"><strong>Zip Code</strong></label>
                    <p> {{ @formData['zip'] }} </p>
                </div>
            </div>

            <div class="form-row">
                <div class="form-group col-md-12">
                    <label><strong>Allergy List</strong></label>
                    <p> {{ @formData['allergies'] }}</p>
                </div>
            </div>

            <p class="col-form-label"><strong>As a parent do you wish for your child to be assigned an instrument to play and take home to practice.</strong></p>
            <check if="{{ @formData['takeHomeInstrument'] == 1}}">
                <true><p>Yes</p></true>
                <false><p>No</p></false>
            </check>

            <div class="form-row">
                <div class="form-group col-md-9">
                    <label><strong>Parent Sign Name</strong></label>
                    <p>{{ @formData['parent'] }}</p>
                </div>

                <div class="form-group col-md-3">
                    <label><strong>Date</strong></label>
                    <p>{{ @formData['submissionDate'] }}</p>
                </div>
            </div>
        </div>

    <check if="{{ @isAdmin }}">
        <true>
            <check if="{{@formData['requestStatus']}} == 0">
                <true>
                <button type="submit" class="btn btn-primary validation-halt" name='submit' value="1">Approve Request</button>
                <button type="submit" class="btn btn-primary validation-halt" name='submit' value="-1">Deny Request</button>
                </true>
            </check>
        </true>
    </check>

    <a class="btn btn-primary" href=' <check if="{{ @isAdmin }}"><true> {{@BASE}}/administration</true><false>{{@BASE}}/account</false></check>'>Go Back</a>
    
</form>