<div class="container">
    <div class="container-page">

       
        <h2>Volunteer Registration</h2>

        <h2 class="text-center">Form Status</h2>
        <p>
            <strong>
                <check if="{{@formData['requestStatus']}} == 0">
                    <true>Pending</true>
                </check>
                <check if="{{@formData['requestStatus']}} == -1">
                    <true>Denied</true>
                </check>

                <check if="{{@formData['requestStatus']}} == 1">
                    <true>Accepted</true>
                </check>
            </strong>
        </p>
            
        <hr>

        <form class="pb-4" method="post" novalidate>

            <div class="form-group col-lg-6"> <!-- Student Full Name -->
                <label class="control-label"><strong>Full Legal Name</strong></label>

                <p>{{ @formData['name'] }}</p>

            </div>

            <div class="form-group col-lg-6"> <!-- Street 1 -->
                <label class="control-label"><strong>Home Address</strong></label>
                <p>{{ @formData['address'] }}</p>
            </div>

            <div class="form-group col-lg-6"> <!-- Zip Code-->
                <label class="control-label"><strong>Zip Code</strong></label>

                <p>{{ @formData['zip'] }}</p>

            </div>

            <div class="form-group col-lg-6"> <!-- Date -->
                <label class="control-label"><strong>Date of Birth</strong></label>
                <p>{{ @formData['dob'] }}</p>
            </div>

            <div class="form-group col-lg-6"> <!-- Telephone -->
                <label class="control-label"><strong>Telephone</strong></label>
                <p>{{ @formData['phone'] }}</p>
            </div>

            <div class="form-group col-lg-6"> <!-- Drivers Licence -->
                <label class="control-label"><strong>Drivers License #</strong></label>
                <p>{{ @formData['drivers'] }}</p>
            </div>

            <check if="{{ @isAdmin }}">
                <true>
                    <!-- TODO CHECK IF REQUEST-->
                    <button type="submit" class="btn btn-primary validation-halt" name='submit' value="1">Approve Request</button>
                    <button type="submit" class="btn btn-primary validation-halt" name='submit' value="-1">Deny Request</button>
                </true>
            </check>

            <a class="btn btn-primary" href="{{@BASE}}/account">Go Back</a>

        </form>
    </div>

</div>