<div class="container">
    <br>
    <h1 class="text-center">Meet our staff!</h1>
    <img class="img-fluid" src="assets/images/gallery/staff-photo.jpg" alt="IT DIDN'T WORK">



    <br>
    <ul class="list-group list-group-flush">
        <repeat group="{{ @StaffMembers }}" value="{{ @StaffMember }}">
            <li class="list-group-item">
                <img class="float-left" style="width: 150px" src="{{ @StaffMember->getPortraitURL() }}">
                <h5 class="mt-4">{{ @StaffMember->getFName() }} {{ @StaffMember->getLname() }}</h5>
                <p>{{ @StaffMember->getBiography() }}</p>
                <check if="{{ @StaffMember->getEmail() }}">
                    <p>Email: {{ @StaffMember->getEmail() }}</p>
                </check>
            </li>
        </repeat>
    </ul>

</div>