<div class="container">
    <br>
    <h1 class="text-center">Meet our staff!</h1>
    <img class="img-fluid" src="assets/images/gallery/staff-photo.jpg" alt="IT DIDN'T WORK">



    <br>
    <ul class="list-group list-group-flush">
        <li class="list-group-item">
            <img class="float-left" src="assets/images/gallery/unknown.png">
            <h5 class="mt-4">First Name Last Name</h5>
            <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit,
                sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris
                nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in
            </p>
            <p>Email: example@gmail.com</p>
        </li>
        <li class="list-group-item">
            <img class="float-left" src="assets/images/gallery/unknown.png">
            <h5 class="mt-4">First Name Last Name</h5>
            <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit,
                sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris
                nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in
            </p>
            <p>Email: example@gmail.com</p>
        </li>
        <li class="list-group-item">
            <img class="float-left" src="assets/images/gallery/unknown.png">
            <h5 class="mt-4">First Name Last Name</h5>
            <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit,
                sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris
                nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in
            </p>
            <p>Email: example@gmail.com</p>
        </li>
        <li class="list-group-item">
            <img class="float-left" src="assets/images/gallery/unknown.png">
            <h5 class="mt-4">First Name Last Name</h5>
            <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit,
                sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris
                nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in
            </p>
            <p>Email: example@gmail.com</p>
        </li>
    </ul>

</div>