<div class="container">
    <br>
    <h1 class="text-center">Meet our staff!</h1>
    <img class="img-fluid" src="assets/images/staffgroup/staff-group-photo.jpg" alt="Staff group photo">



    <br>
    <div class="container">
        <repeat group="{{ @StaffMembers }}" value="{{ @StaffMember }}">
            <div class="row my-3">
                <div class="col-sm-2 text-center my-auto">
                    <img class="rounded-circle" style="width: 150px; height: 150px" src="{{ @StaffMember->getPortraitURL() }}">
                </div>
                <div class="col-sm-10">
                    <h5 class="mt-4">{{ @StaffMember->getFName() }} {{ @StaffMember->getLname() }} - {{ @StaffMember->getTitle() }}</h5>
                    <p>{{ @StaffMember->getBiography() }}</p>
                    <check if="{{ @StaffMember->getEmail() }}">
                        <p>Email: <a href="mailto:{{ @StaffMember->getEmail() }}>{{ @StaffMember->getEmail() }}">{{ @StaffMember->getEmail() }}</a></p>
                    </check>
                </div>
            </div>
        </repeat>
    </div>

</div>