<br>
<div class="container-fluid">
    <div class="jumbotron">
        <div class="row content text-center">
            <div class="col-sm-3 sidenav">
                <img src="{{@BASE}}/assets/images/testimonials/profile_pic.jpg" alt="profile pic">
            </div>

            <div class="col-sm-9">
                <h5>"As you know, my husband, Cleveland and I are raising 3 grandsons: Elijah
                    17, who was in band last year in the Spring session, Ramiah - 14, and
                    Taliferro -13, were in the Orchestra this last Fall session.
                    It is sure a blessing for our family that they were able to participate in
                    the program. We are not able to buy instruments and pay for lessons. Our
                    young men loved being able to participate. They were always eager to go,
                    and they were so proud when they played at the concerts! They have been
                    asking when does the next session start!?
                    Thank you to the music teachers and all of the other wonderful volunteers, for giving our young men a chance
                    to play music! If not for the Mpower Youth Music program, they would not have had this special opportunity"</h5>
                <p> - Parent 1 </p>
            </div>
        </div>
    </div>
</div>

<div class="container-fluid">
    <div class="jumbotron">
        <div class="row content text-center">
            <div class="col-sm-9">
                <h5>"What we as parents have seen in Rosario throughout this 2 1/2 years that we have been part of the
                    M-Power family, is that she has gained self-confidence presenting herself in front of an audience. Before
                    M-Power, Rosario was so shy that she would never dare herself to do anything on any stage.
                    Thanks to M-Power, Rosario has done two duets on the last two concerts, auditioned for a role on her school
                    play for the next spring, has performed on a church play twice in a short period of time, less than six months
                    ago. Academically, I have always connected music with math skills. Rosario is now on a advanced math class in
                    her school, and she gained better grades on the last trimester of her 5th grade that gave her the opportunity
                    to be on an advance class MIS , showing 6th grade level. Rosario's words are: "Never give up!
                    On both the violin and the flute, there were some music notes that were so difficult for me.
                    But the teachers gave me their support and tell me to try until I achieve my goals, which I did!"
                    And regarding her brother Guerson, we're very thankful that M-Power accepted him, even though he was in
                    a very low grade at the time ( just finished 1st grade) when he started attending M-power. Guerson has
                    demonstrated to himself, and to others, that every effort is valuable.
                    Same as Rosario, Guerson has gained better skills academically on math. So again, I think his music skill
                    learned at M power have contributed to this improved outcomes. Guerson is ready to learn to play another
                    instrument already! We're so blessed to be part of M-Power family! And we are so thankful for all the great work the teachers and
                    volunteer coaches have done for our children -- It's priceless! I hope M-power continues to support our
                    children, thank you so much !"</h5>
                <p> - Parent 2</p>
            </div>

            <div class="col-sm-3 sidenav">
                <br><br><br><br>
                <img src="{{@BASE}}/assets/images/testimonials/profile_pic.jpg" alt="profile pic">
            </div>
        </div>
    </div>
</div>
