<br>
<div class="container-fluid">
    <div class="jumbotron">
        <div class="row content text-center">
            <div class="col-sm-3 sidenav">
                <img src="{{@BASE}}/assets/images/testimonials/profile_pic.jpg">
            </div>

            <div class="col-sm-9">
                <h5>"Helping kids though music is great. Lorem ipsum dolor sit amet, consectetur adipiscing elit,
                    sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad
                    minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex
                    ea commodo consequat. Excepteur sint occaecat cupidatat non proident, sunt
                    in culpa qui officia deserunt mollit anim id est laborum consectetur adipiscing
                    elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                    Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut
                    aliquip ex ea commodo consequat."</h5>
                <p> - Jane Dane </p>
            </div>
        </div>
    </div>
</div>

<div class="container-fluid">
    <div class="jumbotron">
        <div class="row content text-center">
            <div class="col-sm-9">
                <h5>"Helping kids though music is great. Lorem ipsum dolor sit amet, consectetur adipiscing elit,
                    sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad
                    minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex
                    ea commodo consequat. Excepteur sint occaecat cupidatat non proident, sunt
                    in culpa qui officia deserunt mollit anim id est laborum consectetur adipiscing
                    elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                    Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut
                    aliquip ex ea commodo consequat."</h5>
                <p> - Jane Dane </p>
            </div>

            <div class="col-sm-3 sidenav">
                <img src="{{@BASE}}/assets/images/testimonials/profile_pic.jpg">
            </div>
        </div>
    </div>
</div>
