body {
    padding-top: 86px;
    padding-bottom: 128px;
}

.acme {
    font-family: 'Acme', sans-serif !important;
}

nav.navbar-sm {
    height: 30px;
}

.navbar-sm-icon {
    height: 30px;
    width: 30px;
}

.logo {
    height: 128px;
    width: 128px;
}