.carousel-item img {
    height: 40rem;
}

.mission-logo {
    opacity: 0.5;
}

.jumbotron{
    background: url('../../assets/images/MPYLogo/png/color_logo_transparent.png');
    background-size: 12rem;
    background-position: center;
    background-repeat: no-repeat;
}